NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB0F5sKDtN1BWrGBSp1odeYvi3DUod726E
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mpugura.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mpugura
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mpugura.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=599582910897
NEXT_PUBLIC_FIREBASE_APP_ID=1:599582910897:web:29d213de8c73b1d1f53590
NEXT_PUBLIC_ADMIN_EMAILS=

